.heroSubtitle{
    text-transform: uppercase;
    color: #2A69AC;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.1em;
    letter-spacing: 0.13em;
    font-family: var(--font-manrope)
}

.headercontainer{
   position: relative;
   border-radius: 40px;
   margin: 40px;
   height: 90vh;
}


.heroVideo{
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;

}

.hero {
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #fff;
    height: calc(100% - 150px);
}

/* =========================
   VIDEO
========================= */

.heroVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


/* =========================
   CONTENT
========================= */

.heroContent {
    position: relative;
    z-index: 3;
    text-align: center;
}

.heroSubtitle {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2A69AC;
    margin-bottom: 20px;
}

.heroTitle {
    font-size: clamp(36px, 6vw, 64px);
    font-weight: 800;
    font-size: 70px;
    line-height: 1.1em;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
    font-family: var(--font-manrope);
}

.heroText {
    font-size: 18px;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 40px;
}
.heroText{
    font-family: var(--font-dm-sans);
    font-size: 22px;
}

/* =========================
   BUTTONS
========================= */

.heroActions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 14px 32px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.25s ease;
}

.btn-primary {
    background: #c49b63;
    color: #000;
}

.btn-primary:hover {
    background: #fff;
}

.btn-outline {
    border: 2px solid #fff;
    color: #fff;
}

.btn-outline:hover {
    background: #fff;
    color: #000;
}