 .btn {
  position: relative;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  transition:all 0.4s ease-in-out;
  z-index: 1;
  border-radius: 12px;
  font-size: 18px;
  overflow: hidden;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

 .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
    border-radius: 12px;

}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition:all 0.4s ease-in-out;
  z-index: -1;
    border-radius: 12px;

}
.maviag::before{
  background: #2A69AC;
}

.maviag::after {
    background: #fff;

}

.ag::before{
  background: transparent;
    border:  1px solid #fff;

}
.ag{
color: #fff;
}
.ag::after {
    background: #2A69AC;
}


.goy::before{
  background: #2A69AC;

}

.goy::after {
    background:#102948;
;

}
.btn:hover::after {
  width: 100%;
}



.btn:hover{
  color: #fff;
}

.btn svg{
    transition: 0.4s ease-in-out;

}
.btn:hover svg{
  transform: translateX(5px);
}


.maviag:hover{
  color: #2A69AC;
}