@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body{
  /* #102948 #2A69AC */
  
	--e-global-color-primary					: #12223B;
	--e-global-color-secondary					: #E9F7FE;
	--e-global-color-text						: #667282;
	--e-global-color-accent						: #FFB703;
	--e-global-color-4271826					: #FFFFFF;
	--e-global-color-17c0fac					: #12223B30;
	--e-global-color-f6d07ed					: #FFFFFF20;
	--e-global-typography-primary-font-family	: "Manrope", sans-serif;
	--e-global-typography-text-font-family      : "DM Sans", sans-serif;
}

.headercontainer{
   position: relative;
   border-radius: 40px;
   margin: 40px;
}

.hero-overlayy{
      z-index: 2;
    background: linear-gradient(#00000030, #0000008c);
    position: absolute;
    inset: 0;
}