@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body{
  /* #102948 #2A69AC */
  
	--e-global-color-primary					: #12223B;
	--e-global-color-secondary					: #E9F7FE;
	--e-global-color-text						: #667282;
	--e-global-color-accent						: #FFB703;
	--e-global-color-4271826					: #FFFFFF;
	--e-global-color-17c0fac					: #12223B30;
	--e-global-color-f6d07ed					: #FFFFFF20;
	--e-global-typography-primary-font-family	: "Manrope", sans-serif;
	--e-global-typography-text-font-family      : "DM Sans", sans-serif;
}

h1{
    font-family: var(--font-manrope);
    perspective: 400px;
}

p, a, li, label, span{ font-family: var(--font-dm-sans);}

.headercontainer{
   position: relative;
   border-radius: 40px;
   margin: 40px;
   height: 90vh;
}

#ball {
  position: fixed;
  background: #2a69ac;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1 !important;
  left: -4px;
  top: -4px;
}


#magic-cursor{
        position: absolute;
    width: 10px !important;
    height: 10px !important;
    pointer-events: none;
    z-index: 1000000;

    opacity: 0;
    visibility: inherit;
}
.hero-video{
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;

}
.hero-overlayy{
      z-index: 2;
    background: linear-gradient(#00000066);
    position: absolute;
    inset: 0;
}




/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
    .hero-text {
        font-size: 16px;
    }
}